<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구성원</title>

    <style>

        table {
            border: 1px solid #076DF2;
        }

        th {
            border: 1px solid #076DF2;
        }
        
        td {
            border: 1px solid #076DF2;
        }

    </style>
</head>
<body>

    <div>
        
        <div style="display: flex; margin-bottom: 5px;">
            <button class="bulkRegistBtn" style="margin-right: 5px;">구성원 일괄 추가</button>
            <button class="insertBtn" style="margin-right: 5px;">추가</button>
            <button class="deleteBtn">삭제</button>
        </div>

        <table>

            <tr>
                <th><input type="checkbox" class="entire-checkbox"></th>
                <th>사번</th>
                <th>이름</th>
                <th>아이디</th>
                <th>이메일</th>
                <th>닉네임</th>
                <th>번호</th>
                <th>생년월일</th>
            </tr>

            <tr th:if="${#lists.size(employeeList) == 0}">
                <th colspan="8">등록된 사원 정보가 없습니다.</th>
            </tr>

            <tr th:each="employee, i : ${employeeList}" th:object="${employee}">
                <td><input th:value="${i.index}" type="checkbox"></td>
                <td th:text="*{empNo} ?: 'null'">사번</td>
                <td th:text="*{empName} ?: 'null'">이름</td>
                <td th:text="*{empId} ?: 'null'">아이디</td>
                <td th:text="*{empEmail} ?: 'null'">이메일</td>
                <td th:text="*{empNickname} ?: 'null'">닉네임</td>
                <td th:text="*{empTel} ?: 'null'">번호</td>
                <td th:text="*{empBirth} ?: 'null'">생년월일</td>
            </tr>

        </table>

    </div>
    
    
    <script src="/js/userList.js"></script>
</body>
</html>