<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구성원</title>
</head>
<body>
    
    <a href="/user/excel">구성원 일괄 추가</a>

    <div>

        <ul th:if="${#lists.size(employeeList) == 0}">
            <li >등록된 사원 정보가 없습니다.</li>
        </ul>
        <ul th:if="${#lists.size(employeeList) > 0}"
            th:each="employee : ${employeeList}"
            th:object="${employee}">
            <li>
                <p th:text="*{empNo} ?: 'null'">사번</p>
                <p th:text="*{empName} ?: 'null'">이름</p>
                <p th:text="*{empId} ?: 'null'">이메일</p>
                <p th:text="*{empEmail} ?: 'null'">이메일</p>
                <p th:text="*{empNickname} ?: 'null'">이메일</p>
                <p th:text="*{empTel} ?: 'null'">이메일</p>
                <p th:text="*{empBirth} ?: 'null'">이메일</p>
            </li>
        </ul>

    </div>
    
</body>
</html>